<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Web Ecosendas</title>
</head>
<header>
    <li>Ingresar Planes Reservas Contáctanos</li>
    <p>Ingresar</p>
    <p>Planes</p>
    <p>Reservas</p>
    <p>Contáctanos</p>
</header>
<body>
   <h1>ECOSENDAS</h1>
   <h2>Guardianes de lo natural</h2>
   <p>Operador turístico que busca combinar el cuidado de la fauna silvestre con actividades de turismo ecológico alternativo para ofrecer experiencias educativas y de aventura, que fomenten el respeto por la naturaleza.</p>
   <p>En este sitio web encontrarás nuestros paquetes turísticos para rutas guiadas de observación de fauna, talleres educativos, etnoturismo, experiencias inmersivas y de aventura.</p> 
</body>
<script src = "app.js"></script>
</html>